body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
  filter: brightness(0.5); /* làm tối video để chữ nổi bật */
}
.container {
  position: relative;
  z-index: 1;
  text-align: center;
  background: rgba(255, 255, 255, 0.2); /* nền mờ trong suốt */
  backdrop-filter: blur(10px);           /* hiệu ứng “glassmorphism” */
  border-radius: 16px;
  padding: 40px;
  color: white;
  max-width: 350px;
  margin: 100px auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}


input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #8dc7f3c0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  text-shadow: 1px 1px 3px rgba(4, 46, 124, 0.817); 
}

button:hover {
  background-color: #1b74f0b9;
} /*Hiệu ứng chuột*/

.hidden {
  display: none;
}
 
a {
  color: #11a1f4da;
  text-decoration: none;
  font-weight: 600;               
  text-shadow: 1px 1px 3px rgba(2, 48, 135, 0.817); 
}


